# Lab 01: Introdução ao ambiente

## Utilizando o cliente de linha de comandos

Regra geral, todos os sistemas de gestão de base de dados dispõem de uma interface de linha de comando através da qual é possível executar instruções SQL e também outros comandos de administração e manutenção do sistema.

**Nota:** Todos os comandos de administração começam com \\ (contra-barra ou barra invertida).

**Nota:** Todos os comandos terminam com ; (ponto e vírgula) e começam com uma instrução SQL
```sql
CREATE, SELECT, UPDATE, INSERT, DELETE, etc.
```

1. Clique no botão `New Launcher` no canto superior esquerdo anotado com um sinal `+`.

2. Na página seguinte, selecione a opção Terminal na secção *Other*.

3. Ligue-se ao PostgreSQL usando o cliente de linha de comandos `psql`.

```bash
psql -h postgres -U postgres ⮐
```

4. Introduza a password do utilizador `postgres`.

   `postgres`↵

Uma vez no sistema, use o comando \\h ⮐ para obter informação sobre os comandos SQL disponíveis.

Use o comando \\? ⮐ para obter informação sobre os comandos de administração disponíveis.

## Criação da base de dados exemplo – ‘Bank’

Para criar uma base de dados, precisa de criar as tabelas e carregar os dados em cada tabela.
A criação de uma base de dados é feita com a instrução `CREATE DATABASE`.
A base de dados `bank`pode ser criada usando as instruções seguintes:

5. Crie um utilizador `bank` sem privilégios.

   ```sql
   CREATE USER bank WITH PASSWORD 'bank'; ⮐
   ```

6. Crie a base de dados `bank` e defina o utilizador `bank` como dono da base de dados.

    ```sql
    CREATE DATABASE bank
    WITH
    OWNER = bank
    ENCODING = 'UTF8'; ⮐
    ```

_Note:_ Defina o *encoding* de caracteres para [UTF-8](https://en.wikipedia.org/wiki/UTF-8) explicitamente.

7. Conceda ao utilizador `bank` todos os privilégios para a base de dados `bank`.

```sql
GRANT ALL ON DATABASE bank TO bank; ⮐
```

8. Termine o programa utilizando o comando \\q ⮐.

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

9. Ligue-se ao PostgreSQL usando o cliente de linha de comandos `psql`.

```bash
psql -h postgres -U bank ⮐
```

10. Introduza a password do utilizador `bank`.

   `bank`↵

O ficheiro bank.sql contém um conjunto de instruções SQL para criar a base de dados de exemplo ilustrada na Figura 1.

A criação de tabelas é feira usando a instrução `CREATE TABLE`.
Por exemplo, a tabela *customer* pode ser criada usando a instrução seguinte:

```sql
CREATE TABLE customer
   (customer_name		varchar(80)	not null unique,
    customer_street		varchar(255)	not null,
    customer_city		varchar(30)	not null,
    CONSTRAINT pk_customer PRIMARY KEY(customer_name)); ⮐
```

Esta instrução especifica o nome da tabela, os nomes das três colunas, o tipo de cada coluna, e ainda restrições tais como os valores não poderem ser **NULL** e o facto da chave primária da tabela ser o nome do cliente.

Os registos de cada tabela são carregados através de instruções SQL **INSERT**. Por exemplo:

```sql
INSERT INTO customer VALUES ( 'Luis' , 'Rua do Cima' , 'Musgueira' ); ⮐
```

Nesta instrução são especificados, respetivamente, os valores de cada coluna pela mesma ordem em que estes foram definidos aquando da criação da tabela.
Esta instrução resulta na criação de um novo registo na tabela de clientes.

Note-se que o ficheiro bank.sql inclui instruções para inserir mais registos na base de dados do que aqueles que se encontram exemplificados na Figura 1.
Estes registos serão usados para realizar vários testes sobre a base de dados.
Em aulas de laboratório futuras, iremos utilizar esta base de dados para demonstrar vários dos conceitos da disciplina.

**Nota:** Muito embora também possa ser utilizada a interface gráfica pgAdmin, como forma de interagir com o sistema de gestão de bases de dados Postgres, nas aulas de laboratório iremos sobretudo utilizar a interface de linha de comandos.

Para criar a base de dados de exemplo do Bank, execute o comando que irá carregar e executar as instruções SQL que estão no ficheiro bank.sql.
O Postgres irá produzir algumas mensagens à medida que executa as instruções do ficheiro.

```sql
\i ~/data/bank.sql ⮐
```

No final da execução, a base de dados de exemplo está criada.

Para listar as tabelas da base de dados, use o comando: **\\d** ⮐

O tempo que o sistema demora a executar algumas consultas é um fator importante quando o volume de dados é considerável. Execute o comando:

**\\timing** ⮐

para ativar ou desativar a cronometragem da execução dos comandos SQL.

Uma vez na sessão Postgres, poderá executar algumas consultas introduzindo comandos SQL, nomeadamente:

- ver a lista completa de clientes:

```sql
SELECT * FROM customer; ⮐
```

- ver a lista completa de contas:

```sql
SELECT * FROM account; ⮐
```

- ver o saldo da conta A-101:

```sql
SELECT balance FROM account
WHERE account_number='A-101'; ⮐
```

- ver todos os clientes que não são depositantes (i.e. não têm contas):

```sql
SELECT * FROM customer 
WHERE customer_name NOT IN (
SELECT customer_name FROM depositor); ⮐
```

**Nota:** Em aulas futuras irá aprender a obter a resposta para consultas mais complexas.